body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainDiv{
  width:800px;
  height: 700px;
  margin: 10px;
  padding: 20px;
  background-color: aqua;
  display: flex;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;


}
.rowDiv{
  display: flex;
  
}

.inputDiv{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color:whitesmoke;
}

.inputDiv:hover{
  cursor: pointer;
}
